.notes-container {
    padding-right: 6px;
}

.notes-container > h2 {
    color: white;
    font-size: 28px;
    font-weight: 300;
    margin-top: 2.4em;
    margin-bottom: 1.2em;
}

.notes-container > h3 {
    padding: 0;
    margin: 0;
}

.notes-container > .note-tab {
    padding: 10px;
    transition: background-color 0.2s;
    border-radius: 4px;
}

.notes-container > .note-tab:hover {
    background-color: rgb(44, 44, 44);
}

.notes-container > .note-tab > h3 {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.notes-container-no-notes {
    color: white;
}

.notes-container-no-notes p {
    text-align: center;
    
}
.notes-container-no-notes span {
    font-size: 40px;
    padding: 0.8em 0 0.4em 0;
    text-align: center;
    display: block;
}