.content-container {
    height: 100vh;
    /* display: grid;
    grid-template-columns: 400px auto; */
    display: flex;
    grid-gap: 2em;
    box-sizing: border-box;
}

@media only screen and (max-width: 750px) {
    .content-container {
        flex-direction: column;
    }
}