@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* CSS reset */
.navbar nav {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: #084177;
    width: 100%;
    height: 60px;
    color: white;
}

.navbar h1 {
    display: inline-block;
    font-weight: 300;
}