@font-face {
  font-family: 'Lobster';
  src: url("../Lobster-Regular.ttf");
}

html, body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* scroll bar theme */

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3b3b3b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    height: 20px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }